@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



:root {
  --cor01:#75DDDD;
  --cor02:#373F51;
  --cor03:#A188A6;
  --cor04:#84B3D7;
  --cor05:#B37BA4;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: 'Bebas Neue';
}

body {
  background-color: var(--cor04);
  margin: 0px;
  padding: 0px;
}

header h1 {
  font-family: var(--font-destaque);
  color:var(--cor02);
  text-align: center;
  background-image:linear-gradient(to top, var(--cor04), var(--cor01));
  padding: 30px;
  margin: 0px;
  box-shadow: 4px 3px 8px #29bde0;
}

nav {
  background-color:var(--cor04);
  padding: 10px;
}

nav > a {
  color:var(--cor02);
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: var(--cor04);
  color: var(--cor02);
}
